/.idea/
target
/src/main/resources/static/web/index.html
/src/main/resources/static/web/favicon.ico
/src/main/resources/static/web/assets/**
/src/main/resources/static/web/assets
/src/main/resources/static/app/index.html
/src/main/resources/static/app/assets/**
/src/main/resources/static/app/assets
/src/main/resources/static/app/static/**
/src/main/resources/static/app/static
